* {
    padding: 0;
    margin: 0;
}
.header {
 

  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 15px 40px -20px rgba(0, 0, 0, 0.15);
  height: 80px;
  background: #fff;
}

body {
  
}

.logo {

   
    position: relative;
    left:69;
  width: 100px;
  padding: 10px 0px;
}

.loc{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}

.loc-home{
  
  font-weight: 700;
  color: #3d4152;
  float: left;
}

.loc-home-home{
  
  display: block;
  min-width: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nav-items{
    display: flex;
    align-items: center; 
}
.nav-items > ul {
  
    margin-right: 60px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;

  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding-right: 100px;
  align-items: center;
  justify-content: center;
}

.nav-items > ul > li {
  padding: 0 50px;
  
}

.search-container{
  
  padding-top: 100px;

}

.Restro-List { 
    background: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 84%;
    height: 100%; 
    display: flex; 
    margin: 10px 130px;
   
}

.card {
  width: 200px;
  margin: 10px;

  border-radius: 15px;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card-info {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 2px;
  gap: 2px;
}
.card h2 {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: "Basis Grotesque Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card h3,
h4 {
  margin: 5px 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Basis Grotesque Pro";
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

